.users {
  h2 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 32px;
  }

  .list {
    display: flex;
    align-items: center;
    gap: 20px;

    .item {
      height: 249px;
    }

    .top {
      height: 160px;

      .img {
        width: 60px;
        height: 60px;
      }

      h5 {
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
      }

      b {
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
        display: block;
      }

      span {
        font-family: monospace;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  button {
    margin-top: -15px;
    margin-bottom: -12px;
    width: 100%;
    height: 50px;

    svg {
      fill: red;
    }
  }

  .pagination {
    margin-top: 100px;

    svg {
      margin-top: 23px;
      fill: #8bbbfe;
      height: auto;
    }
  }

  .search {
    svg {
      fill: blue;
    }
  }

  .noActive {
    background-color: #f8f8f8;
    cursor: no-drop;
    box-shadow: none;

    svg {
      fill: #ccc;
    }

    &:hover {
      background-color: #f8f8f8;
      box-shadow: none;
    }
  }
}

.users-edit {
  &-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;

    label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      input {
        width: 100%;
        padding: 15px 10px;
        outline: none;
        border: 1px solid #ccc;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        border-radius: 8px;
      }
    }
  }
}
