.video-create,
.workbook-create {
  padding-top: 30px;

  hr {
    border: none;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h2 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  h3 {
    margin-bottom: 15px;
  }

  .title {
    margin-top: 50px;
    margin-bottom: 50px;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // padding-top: 80px;
    }

    input {
      padding: 16px 18px;
      font-family: Mulish;
      font-size: 18px;
      font-weight: 500;
      line-height: 23px;
      letter-spacing: 0px;
      text-align: left;
      color: #1c1e23;
      border: 1px solid #667085;
      border-radius: 6px;
      width: 30%;
      outline: none;
    }
  }

  .yukla {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 81px;
    margin-top: 50px;

    label {
      height: 300px !important;
      border: 1px dashed #e6e6e6;
      width: 100%;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      background-color: #fafafa;

      video {
        width: 100%;
        height: 300px;
      }

      svg {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
        fill: #1976d2;
      }

      p {
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    button {
      width: 200px;
      font-family: Inter;
      padding: 9px 20px;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      text-transform: capitalize;
      background-color: #ffaeae;
      position: absolute;
      bottom: -50px;
      right: 0;
      color: #000000;
    }
  }

  .comment {
    margin-bottom: 50px;

    textarea {
      width: 100%;
      background-color: #fafafa;
      border-radius: 10px;
      padding: 30px;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #a3a3a3;
      border: none;
      outline: none;
      resize: none;
    }
  }

  .level {
    select {
      width: 30%;
      padding: 10px 20px;
      padding: 16px 18px;
      border: 1px solid #a3a3a3;
      outline: none;
      border-radius: 6px;
      font-family: Inter;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      &::-webkit-scrollbar {
        display: none;
      }

      & {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    }
  }

  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
  }
}

.video,
.workbook {
  padding-top: 80px;

  .workbook-get {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d68f9;
    border-radius: 50%;
    cursor: pointer;

    svg {
      fill: #fff;
    }
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-family: Inter;
      font-size: 32px;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: left;
    }

    button {
      text-transform: capitalize;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    border: 1px dashed #667085;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 8px;
    gap: 10px;

    .load {
      background-color: transparent;
      border: none;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fafafa;
      padding: 20px;
      border-radius: 20px;

      img {
        cursor: pointer;
      }

      h4 {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        width: 319px;
        height: 40px;
        display: flex;
        align-items: center;
        overflow: hidden;
      }

      span {
        color: #a3a3a3;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
      }

      div {
        display: flex;
        align-items: center;
        gap: 15px;

        svg {
          width: 35px;
          height: 35px;
          padding: 8px;
          border-radius: 50%;
          cursor: pointer;
          fill: #ff0000;
          background-color: #ffaeae;
        }

        .edit {
          fill: #27c394;
          background-color: #e6f8f3;
        }
      }
    }
  }
}

.material {
  position: relative;

  .fullScrean {
    span {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: #0000003f;
    }

    video {
      position: fixed;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
      object-fit: cover;
      border-radius: 16px;
    }
  }

  .course {
    width: 200px;
    padding: 10px;
    border-radius: 1px solid #a3a3a3;
    outline: none;
    border-radius: 12px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    & {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}
