.take {
  position: relative;
  padding-bottom: 100px;

  h1 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bottom {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    justify-content: space-between;

    .user {
      width: 300px;
      height: 400px;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0px 20px 45px 0px #00000014;

      img {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
      }

      .list-bottom {
        padding: 5px 20px;

        h3 {
          font-family: Inter;
          font-size: 32px;
          font-weight: 700;
          line-height: 48px;
          letter-spacing: 0em;
          text-align: left;
          color: #1a1a1a;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        p {
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #5c5c5c;
          margin-bottom: 5px;
          overflow: hidden;
        }

        span {
          font-family: Inter;
          font-size: 15px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #5c5c5c;
          display: block;
        }
      }
    }

    .course {
      width: 300px;
      height: 400px;
      position: relative;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 0px 20px 45px 0px #00000014;

      img {
        width: 100%;
        border-radius: 20px 20px 0 0;
        height: 200px;
      }

      .list-bottom {
        padding: 5px 20px;

        h3 {
          font-family: Inter;
          font-size: 32px;
          font-weight: 700;
          line-height: 48px;
          letter-spacing: 0em;
          text-align: left;
          color: #1a1a1a;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        p {
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #5c5c5c;
          margin-bottom: 5px;
          overflow: hidden;
        }

        span {
          font-family: Inter;
          font-size: 15px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #5c5c5c;
          display: block;
        }

        div {
          margin-top: 20px;
          font-family: Plus Jakarta Sans;
          font-size: 32px;
          font-weight: 700;
          line-height: 40px;
          letter-spacing: 0em;
          text-align: left;
          color: #1976d2;
        }
      }
    }
  }

  .defualt {
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }

  button {
    margin-top: 50px;
    position: absolute;
    right: 0;
  }
}
