@import '../src/utils/scss/normalize.scss';
@import '../src/utils/scss/fonts.scss';
@import '../src/utils/scss/var.scss';

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  user-select: none;
}

html,
body,
#root,
.ant-layout {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.none {
  display: none;
}

a {
  text-decoration: none;
  color: #1c1e23;
}
