.login {
  background-image: url('../../img/login_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &_form {
    width: 460px;
    height: 500px;
    background-color: #fff;
    border-radius: 8px;
    padding: 36px;
    text-align: center;
    display: flex;
    flex-direction: column;

    select {
      margin-left: 20px;
      border: 1px dashed #aaa;
      border-radius: 8px;
      cursor: pointer;
      outline: none;
    }

    h1 {
      font-family: Mulish;
      font-size: 42px;
      font-weight: 700;
      line-height: 53px;
      letter-spacing: 0em;
      margin-bottom: 12px;
      color: #28353a;
    }

    p {
      font-family: Mulish;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: #28353a;
      letter-spacing: 0em;
      margin-bottom: 38px;
    }

    label {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 20px;
      gap: 8px;

      span {
        font-family: Mulish;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: left;
        color: #1c1e23;
      }

      input {
        padding: 16px 18px;
        font-family: Mulish;
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: left;
        color: #1c1e23;
        border: 1px solid #667085;
        border-radius: 6px;
        width: 100%;
        outline: none;
      }
    }

    .btn {
      padding: 16px;
      font-family: Mulish;
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: center;
    }
  }
}
